*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:linear-gradient(135deg,#141e30,#243b55);
color:white;
min-height:100vh;
}

.pantalla{
display:none;
}

.activa{
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
min-height:100vh;
}

.contenedor{
background:rgba(255,255,255,.1);
padding:40px;
border-radius:20px;
width:420px;
backdrop-filter:blur(8px);
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,select{
padding:12px;
border:none;
border-radius:10px;
}

button{
padding:12px;
border:none;
border-radius:25px;
background:#00ffd5;
cursor:pointer;
font-weight:bold;
}

.password-box{
position:relative;
}

#ojo{
position:absolute;
right:15px;
top:12px;
cursor:pointer;
}

header{
padding:25px;
text-align:center;
}

.productos{
display:flex;
flex-wrap:wrap;
gap:20px;
justify-content:center;
padding:20px;
}

.producto{
background:rgba(255,255,255,.1);
padding:20px;
width:220px;
border-radius:20px;
text-align:center;
}

.producto button{
margin-top:10px;
}

.carrito{
margin-top:20px;
background:rgba(255,255,255,.1);
padding:25px;
border-radius:20px;
width:350px;
}

.carrito ul{
margin:15px 0;
}

li{
margin-bottom:8px;
}
